<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="icon" href="/images/icon/ico.png" type="img/png">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Courgette|Courier+Prime|Indie+Flower|Permanent+Marker|Satisfy|Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style1.css">
    <link rel="stylesheet" href="/css/style2.css">
    {{#if profile}}
        <link rel="stylesheet" href="/css/profile.css">
    {{/if}}
    {{#if form}}
        <link rel="stylesheet" href="/css/forms.css">
    {{/if}}
    {{#if dashboard}}
        <link rel="stylesheet" href="/css/dashboard.css">
    {{/if}}
    {{#if questions}}
        <link rel="stylesheet" href="/css/questions.css">
    {{/if}}
    {{#if record}}
        <link rel="stylesheet" href="/css/record.css">
    {{/if}}
    {{#if msg}}
        <link rel="stylesheet" href="/css/contact.css">
    {{/if}}
</head>
<body>
    <div id="header" class="header">
        <h1 class="header noselect">Answer Home</h1>
        <div id="nav" class="nav noselect">
            <ul id="navi" class="nav">
                <div id="hid_nav" class="hid_nav">&#9776;</div>
                <li id="navsel" class="navsel"><a href="/home" id="navlink" class="{{#if homePage}}current{{/if}}">Home</a></li>
                {{#if loggedIn}}
                    <li id="navsel" class="navsel"><a href="/dashboard" id="navlink" class="{{#if dashboard}}current{{/if}}">Dashboard</a></li>
                {{else}}
                    <li id="navsel" class="navsel"><a href="/login" id="navlink" class="{{#if loginPage}}current{{/if}}">LogIn</a></li>
                    <li id="navsel" class="navsel"><a href="/signup" id="navlink" class="{{#if signupPage}}current{{/if}}">SignUp</a></li>
                {{/if}}
                <li id="navsel" class="navsel"><a href="/about" id="navlink" class="{{#if aboutPage}}current{{/if}}">About Us</a></li>
                <li id="navsel" class="navsel"><a href="/contact" id="navlink" class="{{#if contactPage}}current{{/if}}">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div id="body" class="body">
        {{#if dashboard}}
            {{#if admin}}
                    <div class="nav-ver-dash" id="nav-ver">
                        <ul class="nav-ver">
                            <a id="navlink" href="/admin/dashboard"><li class="navilink" id="nav-ver">Activity</li></a>
                            <a id="navlink" href="/admin/students"><li class="navilink" id="nav-ver">Students</li></a>
                            <a id="navlink" href="/admin/teachers"><li class="navilink" id="nav-ver">Teachers</li></a>
                            <a id="navlink" href="/admin/contactmsg"><li class="navilink" id="nav-ver">Messages</li></a>
                            <a id="navlink" href="/admin/myprofile"><li class="navilink" id="nav-ver">Profile</li></a>
                            <a id="navlink" href="/admin/logout"><li class="navilink" id="nav-ver">Logout</li></a>
                        </ul>
                    </div>
            {{else}}
                {{#if student}}
                    <div class="nav-ver-dash" id="nav-ver">
                        <ul class="nav-ver">
                            <a id="navlink" href="/dashboard"><li class="navilink" id="nav-ver">Activity</li></a>
                            <a id="navlink" href="/myquestions"><li class="navilink" id="nav-ver">Your Questions</li></a>
                            <a id="navlink" href="/newquestion"><li class="navilink" id="nav-ver">New Question</li></a>
                            <a id="navlink" href="/myprofile"><li class="navilink" id="nav-ver">Profile</li></a>
                            <a id="navlink" href="/logout"><li class="navilink" id="nav-ver">Logout</li></a>
                        </ul>
                    </div>
                {{else}}
                    <div class="nav-ver-dash" id="nav-ver">
                        <ul class="nav-ver">
                            <a id="navlink" href="/dashboard"><li class="navilink" id="nav-ver">Activity</li></a>
                            <a id="navlink" href="/myanswers"><li class="navilink" id="nav-ver">Your Answers</li></a>
                            <a id="navlink" href="/questions"><li class="navilink" id="nav-ver">Questions</li></a>
                            <a id="navlink" href="/myprofile"><li class="navilink" id="nav-ver">Profile</li></a>
                            <a id="navlink" href="/logout"><li class="navilink" id="nav-ver">Logout</li></a>
                        </ul>
                    </div>
                {{/if}}
            {{/if}}
        {{/if}}
        {{{body}}}
    </div>
    <div id="footer" class="footer">

    </div>
    
</body>
    <script src="/js/const.js"></script>
    {{#if homePage}}<script src="/js/main.js"></script>{{/if}}
    {{#if signUpPage}}<script src="/js/signup.js"></script>{{/if}}
    {{#if form}}<script src="/js/validate.js"></script>{{/if}}
    {{#if msg}}<script src="/js/contact.js"></script>{{/if}}
</html>