<div class="right">
    {{#if size}}<!--
    <table class="quest" id="quest" border="1">
        <tr>
            <th>S.No</th>
            <th>Question</th>
            <th>Description</th>
            <th>Subject</th>
            <th>Answer</th>
            <th>Answered By</th>
        </tr>
        {{#each data}}
        <tr>
            <td class="sno">{{{this.num}}}</td>
            <td class="ques">{{{this.question}}}</td>
            <td class="desc">{{{this.description}}}</td>
            <td>{{{this.subject}}}</td>
            <td class="ans">{{{this.answer}}}</td>
            <td><a href="/profile/{{{this.ansby}}}">View Profile</a></td>
        </tr>
        {{/each}}
    </table>-->
    <div class="questions">
        {{#each data}}
            <div class="question">
                <h2 class="quest">{{{this.question}}}</h2>
                <hr>
                <h3 class="subject">{{{this.subject}}}</h3>
                <h3 class="desc">{{{this.description}}}</h3>
                <h3 class="ans">{{{this.answer}}}</h3>
            </div>
        {{/each}}
    </div>
    {{else}}
        <h2>You have not answered any question yet</h2>
        <h3><a href="/questions">Click here to search and answer a question</a></h3>
    {{/if}}
</div>