<div class="nav-ver-dash" id="nav-ver">
    <ul class="nav-ver">
            <a id="navlink" href="/dashboard"><li class="navilink" id="nav-ver">Activity</li></a>
            <a id="navlink" href="/myquestions"><li class="navilink" id="nav-ver">Your Questions</li></a>
            <a id="navlink" href="/newquestion"><li class="navilink" id="nav-ver">New Question</li></a>
            <a id="navlink" href="/myprofile"><li class="navilink" id="nav-ver">Profile</li></a>
            <a id="navlink" href="/logout"><li class="navilink" id="nav-ver">Logout</li></a>
    </ul>
</div>
<div class="right">
    {{#if data}}
    <table class="divider">
        <tr><td class="profile-left">
    <h2 class="profile-name">{{{data.fname}}} {{{data.lname}}}</h2>
    <h3 class="profile-type">{{#if data.type}}Teacher{{else}}Student{{/if}}</h3>
    <div class="profile" id="profile">
            <table class="profile_per">
                <tr class="profile_row">
                    <th class="profile_head">E-mail:</th>
                    <td class="profile_data">{{{data.email}}}</td>
                </tr>
                <tr class="profile_row">
                    <th class="profile_head">Contact:</th>
                    <td class="profile_data">{{{data.contact}}}</td>
                </tr>
                <tr class="profile_row">
                    <th class="profile_head">Account Type:</th>
                    <td class="profile_data">{{#if data.type}}Teacher{{else}}Student{{/if}}</td>
                </tr>
            </table>
            </td>
            <td class="profile-right noselect">
                <img src="/images/profile.jpg" class="profile-pic">
            </td>
            </tr>
        </table>
        <div class="stats">
            <div class="block noselect">
                <h2>Total Questions Asked</h2>
                <h3>{{{total}}}</h3>
            </div>
            <div class="block noselect">
                <h2>Total Answered Questions</h2>
                <h3>{{{totalans}}}</h3>
            </div>
            <div class="block noselect">
                <h2>Total Unanswered Questions</h2>
                <h3>{{{totalunans}}}</h3>
            </div>
        </div>
        {{else}}
            <h1 class="nofound" id-"noUser">User {{{uame}}} cannot be found</h1>
            <h2 class="nofound" id="redirect">Please check the username provided</h2>
        {{/if}}
    </div>
</div>